.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_link {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  height: 105px;
  width: 136px;
}

.address {
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24.3px;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.cover {
  min-height: 757px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  z-index: -2;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 60%;
  z-index: -1;
}

.cover_title {
  z-index: 2;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 115%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 20px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text_left {
  margin-top: 165px;
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.cover_description {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover_description_text {
  line-height: 28px;
  letter-spacing: -0.01em;
  word-spacing: 20px;
}

.bet-button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid;
  padding: 12px 32px;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.card {
  width: 334px;
  min-height: 596px;
  color: #ffffff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_content,
.card-link {
  height: 100%;
  text-decoration: none;
}

.card_content {
  position: relative;
  z-index: 1;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 1, 2em;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.card_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
}

.lots_look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.about {
  display: grid;
  grid-template-columns: 384px auto;
}

.about_logo {
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 35px;
}

.about_logo-image {
  width: 149px;
}

.about_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-top: 136px;
}

.about_text {
  grid-column-start: 2;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-flow: column wrap;
  gap: 24px;
  margin-top: 8px;
  max-width: 693px;
}

.about_paragraph {
  max-width: 688px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 82px;
}

.footer_menu {
  justify-self: center;
}

.footer_menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_menu-list-item {
  font-size: 18px;
}
.footer_menu-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.social_media {
  justify-self: flex-end;
}

.footer_address {
  justify-self: flex-start;
  font-size: 18px;
  line-height: 24.3px;
  max-width: 250px;
}

.footer_social-list {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.footer_social-icon {
  max-width: 48px;
}
